In [1]:
import numpy as np
import pandas as pd

In [2]:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
series = pd.Series(letters)

print(series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
arr = np.arange(10)

series = pd.Series(arr)
print(series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
letter_dict = {"A": 2, "B": 3, "C": 4, "D": 5, "E": 10}
labels = list("ABCDE")


print(labels)
series = pd.Series(letter_dict)
series.index = labels

print(series)

['A', 'B', 'C', 'D', 'E']
A     2
B     3
C     4
D     5
E    10
dtype: int64

In [5]:
letter_dict_2 = {"pd1": 2, "pd2": 3, "pd3": 4, "pd4": 5, "pd5": 10}
labels_2 = ['pd1', 'pd2', 'pd3', 'pd4', 'pd5']


print(labels_2)
series_2 = pd.Series(letter_dict_2, index = labels_2)

print(series_2)

['pd1', 'pd2', 'pd3', 'pd4', 'pd5']
pd1     2
pd2     3
pd3     4
pd4     5
pd5    10
dtype: int64

In [6]:
series.name = "My letters dict"

print(series_2)

pd1     2
pd2     3
pd3     4
pd4     5
pd5    10
dtype: int64

In [7]:
print("Minimum", series.min())
print("25th Percentile:", series.quantile(q = 0.25))
print("Median", series.median())
print("75th Percentile:", series.quantile(q=0.75))
print("Maximum", series.max())

Minimum 2
25th Percentile: 3.0
Median 4.0
75th Percentile: 5.0
Maximum 10

In [8]:
a = np.array([1,2,3,4,5,6,])
b = np.array([7,8,9,10,11,12])

series_a = pd.Series(a)
series_b = pd.Series(b)

print(series_a)
print(series_b)

concatenated_series = pd.concat([series_a, series_b], axis = 1)
concatenated_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0     7
1     8
2     9
3    10
4    11
5    12
dtype: int64

   0   1
0  1   7
1  2   8
2  3   9
3  4  10
4  5  11
5  6  12

In [9]:
concatenated_series_ignored_index = pd.concat([series_a, series_b], axis = 0, ignore_index=True)
concatenated_series_ignored_index

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [10]:
py_title = pd.Series(['how', 'do', 'you', 'master', 'python', 'programming?'])
py_title_2 = pd.Series(['how', 'do', 'you', 'master', 'python', 'programming?'])
print(py_title_2)
py_title.str.title()

0             how
1              do
2             you
3          master
4          python
5    programming?
dtype: object

0             How
1              Do
2             You
3          Master
4          Python
5    Programming?
dtype: object

In [11]:
py_title.map(lambda x:x.title())

0             How
1              Do
2             You
3          Master
4          Python
5    Programming?
dtype: object

In [12]:
pd.Series([i.title() for i in py_title])

0             How
1              Do
2             You
3          Master
4          Python
5    Programming?
dtype: object

In [13]:
#Calculte length of each element of the series
py_title.map(lambda x:len(x))

0     3
1     2
2     3
3     6
4     6
5    12
dtype: int64

In [14]:
pd.Series([len(i) for i in py_title], index=py_title.str.title())

How              3
Do               2
You              3
Master           6
Python           6
Programming?    12
dtype: int64